@import '../Input/index.module.scss';

.field {
    .input {
        min-height: 50px;
        height:auto;
        width: 100%;
        max-width: none;
        resize: none;
        overflow: hidden;
        transition: height 0.1s ease;
    }
}