.container {
  background: linear-gradient(to right, rgb(211, 137, 245), rgb(145, 210, 240));
  width: 100%;
  min-height: 1000px;
  height: auto;
  padding: 30px 0 30px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  .posts {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .newProfile {
    background-color: white;
    height: auto;
    width: 50%;
    border-radius: 15px;
    .infoAboutYou {
      display: flex;
      gap: 40px;
      padding: 0 40px 2px 0;
      .avatar {
        border-radius: 15px;
      }
      .card1 {
        width: 100%;
        .data {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding-top: 20px;
          .name {
            font-family: 'Courier New', Courier, monospace;
            font-size: 20px;
            font-weight: bold;
          }
          .nick {
            font-family: 'Courier New', Courier, monospace;
            font-size: 18px;
          }
        }
        .pencilWr {
          display: flex;
          justify-content: end;
        }
      }
    }
    .card2 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .headerPost {
        display: flex;
        align-items: center;
        padding: 0 15px 0 15px;
        gap: 15px;
        .logoPost {
          height: 50px;
          border-radius: 50%;
        }
      }
      .text {
        padding: 0 15px 0 15px;
      }
      .imagePost {
        height: 600px;
        width: 810px;
      }
      .footerPost {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px 0 15px;
        .likes {
          display: flex;
          align-items: center;
        }
      }
    }
  }
  .pencil {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    position: absolute;
    right: 410px;
  }
  .pencil:hover {
    cursor: pointer;
    background-color: rgb(211, 211, 211);
    transition: background-color 0.2s ease-in;
  }
  h1 {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    font-weight: bold;
  }
}  

