.upperWindow {
    position: absolute;
    top: 80px;
    right: 30px;
    background-color: rgb(224, 224, 224);
    height: auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    .p {
        font-family: sans-serif;
        
    }
    .avatar {
        border-radius: 50%;
        height: 70px;
        width: 70px;
    }
    .nick {
        font-size: 18px;
        color: grey
    }
    .name {
        font-size: 20px;
    }
    .buttonExit {
        all: unset;
        height: 50px;
        width: 250px;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        .textButton {
            display: flex;
            align-items: center;
            gap: 5px;
            p {
                font-weight: bold;
            }
        }
    }
    .buttonExit:hover {
        background-color: rgba(3, 3, 3, 0.103);
        cursor: pointer;
    }

}